@font-face {
  font-family: 'Sniglet', sans-serif;
  src: url('./fonts/Sniglet-webfont.woff') format('woff');
  font-display: swap;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: orange;
  --color-secondary: #381f05;
  --color-primary-accent: #513e1b;

  --ui-padding: 2rem;

  @media (min-width: 768px) {
    --ui-padding: 5rem;
  }
}

html,
body,
#root,
canvas {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Capriola', sans-serif;
  font-weight: 400;
}

.loader {
  font-family: 'Sniglet', sans-serif;
  font-weight: 900;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2e7d4;
  color: var(--color-primary);
  font-size: 5rem;
}

body[data-is-ready='true'] .loader {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.ui {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  pointer-events: none;
  user-select: none;
  padding-top: var(--ui-padding);
  padding-bottom: var(--ui-padding);
  color: var(--color-primary-accent);
}

.ui > * + * {
  margin-top: 1rem;
}

.ui h1 {
  font-family: 'Sniglet', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 1rem;

  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

.game-status-text {
  width: 100%;
  font-size: 1.5rem;
}

body[data-is-ready='false'] .game-status-text {
  opacity: 0;
  transform: translateY(10px);
}

body[data-is-ready='true'] .game-status-text {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  transition-delay: 0.8s;
}

.footer {
  position: fixed;
  bottom: var(--ui-padding);
  left: 50%;
  transform: translateX(-50%);
}

button:not(:disabled) {
  pointer-events: auto;
  cursor: pointer;
}

.btn {
  font-family: 'Sniglet', sans-serif;
  font-size: 1.5rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem 2.5rem;
  min-width: 100px;
  border-radius: 2rem;
  position: relative;
  top: 0;
  transition: all 100ms ease-in-out;
  border: none;
}

/*
* Necessary so that X's and O's tied to the WebGL Cube's don't pick up pointer events
*/
.webgl-ui-overlay * {
  pointer-events: none !important;
}

.player-mark {
  font-family: 'Sniglet', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-shadow: 0 0 10px #00000039;
  user-select: none;
}

.player-mark[data-preview='true'] {
  color: white;
  opacity: 0.4;
}

.player-mark[data-state='success'] {
  color: white;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ccedd2;
  }

  to {
    text-shadow: 0 0 5px #ccedd2, 0 0 10px #ccedd2;
  }
}

/*
  * Splitting.js styles
  * Necessary for animating individual characters
*/
.splitting .char {
  display: inline-block;
}
